<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/colorbox.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/font-awesome.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/css.css" rel="stylesheet" type="text/css">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body data-spy="scroll" data-target="inner-sidebar" data-twttr-rendered="true">
	{% include themes/mh/menu.html %}

<div class="headingcta home">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
    <h1>Free & Open!</h1>
    <p class="cta-text">Simple service for your meter data storage, aggregation and visualization.</p>
    <p>
		<a href="/dashboard/gediminasgu" class="btn btn-large">View Demo</a>
		<a href="http://wiki.meterhub.com/doku.php/wiki:getting_started" class="btn btn-inverse btn-large">Get started</a>
	</p>
    </div>
    <div class="span6">
      <img src="{{ ASSET_PATH }}/img/chart_pic.png" class="iphone">
    </div>
    </div>
  </div>
</div>

<div class="homepage-social">
  <div class="container">
    <ul class="homepage-social-buttons">
      <li>
        <a href="https://twitter.com/{{site.author.twitter}}"><i class="icon-twitter"></i></a>
      </li>
       <li>
        <a href="https://github.com/{{site.author.github}}"><i class="icon-github"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="homepage-content">

    <div class="row-fluid" style="text-align: center">
      <div class="span4">
        <h2>One place for all your<br/> meter data</h2>
		<p>
			You can use meterHUB for all your metering projects like energy monitoring, server/application monitoring, environment monitoring and many more.
		</p>
		<div class="center"><a href="#" class="btn btn-small">Learn more</a></div>
      </div>
      <div class="span4">
        <h2>RAW data<br/> or aggregated?</h2>
        <p>
			With meterHUB you can choose what data you want. Raw or aggregated. Aggregated by hour or by day. Or maybe by week? Or...?
		</p>
		<div class="center"><a href="#" class="btn btn-small">Learn more</a></div>
      </div>
        <div class="span4">
        <h2>Analyse<br/>and share</h2>
        <p>Using our API, you can query your data, visualize, analyse! Share your charts or data with your friends. Build your own applications on top of meterHUB API!</p>
		<div class="center"><a href="#" class="btn btn-small">Learn more</a></div>
      </div>
     
    </div>
	
	<hr/>
	
     <div class="home-thumbs">
		<div class="row">
			<p class="byline">Start right now following this short <a href="http://wiki.meterhub.com/doku.php/wiki:getting_started">Getting started</a> tutorial!<br/>
			... OR ...<br/>
			View samples:</p>
		</div>
    <div class="row-fluid">
      <ul class="thumbnails examples">
        <li class="span3">
          <a class="thumbnail" href="#">
            <img src="{{ ASSET_PATH }}/img/800x500.gif">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img src="{{ ASSET_PATH }}/img/800x500.gif">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img src="{{ ASSET_PATH }}/img/800x500.gif">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img src="{{ ASSET_PATH }}/img/800x500.gif">
          </a>
        </li>
      </ul>
     </div>
   </div>

  
  </div>
</div>
	{% include themes/mh/footer.html %}
</body>
</html>
